

.login {
    display: flex;
    flex-direction: column;
    color: var(--cream);
    text-align: center;
    &__header {
        padding-top: 1rem;
        &__title {
            text-transform: capitalize;
            font-size: 1.7rem;
        }
    }
    &__main {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: 3;
    }
    &__form {
        max-width: max-content;
        margin-inline: auto;
        &__button {
            margin-top: 1rem;
            font-family: inherit;
            padding:0.6rem 2rem ;
            cursor: pointer;
            background-color: var(--orange);
            color: var(--cream);
            border: none;
            border-radius: 4px;
            box-shadow: 6px 6px 3px 1px var(--lightOrange);
            &:hover{
                font-size: 1rem;
            }
            &:active{
                padding: 0.5rem 1.9rem;
            }
        }
    }
    &__link {
        color: inherit;
    }
}

div {
    display: flex;
    align-items: baseline;
    gap: 1rem;
     input, select {
        flex: 1;
     }
}
